
@font-face {
    font-family: "TT Hoves-Bold";
    src: url("../fonts/TTHoves-Bold.ttf");
    }

    @font-face {
        font-family: "TT Hoves-Light";
        src: url("../fonts/TTHoves-Light.ttf");
        }

        @font-face {
            font-family: "TT Hoves";
            src: url("../fonts/TTHoves-Regular.ttf");
            }