@import url("./fonts.css");
@import url(./common.css);

html {
  height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex: 0 0 auto;
}

.main {
  flex: 2 0 auto;
}

.footer {
  flex: 0 0 auto;
}

/*Шрифты*/
.content__title {
  font-size: 64px;
  text-transform: uppercase;
  font-style: normal;
  margin: 0px;
}

.upper-title {
  font-family: "TT Hoves-Light", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #bdbdbd;
}

.lower-title {
  font-family: "TT Hoves-Bold", Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: #333333;
}

.img__conteiner {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: stretch;
  margin-top: 42px;
}

.side__numbers {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3%;
  margin-right: 2%;
}

@media screen and (max-width: 1023px) {
  .main {
    margin: 0px;
  }

  .content__title {
    font-size: 4.4vw;
  }

  .img__conteiner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    margin: auto;
  }

  .img_size {
    width: 100%;
  }

  .numbers {
    display: none;
  }

  .side__numbers {
    display: block;
  }

  .arrow {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .content__title {
    font-size: 7.9vw;
  }

  .numbers {
    display: none;
  }

  .side__numbers {
    display: block;
  }

  .arrow {
    display: flex;
    justify-content: space-between;
  }
}
